<!DOCTYPE html>
<html>
	<head>
		<title>Design Open: Add Design Resource</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script type="text/javascript" src="/javascripts/form.js"></script>
		<script type="text/javascript">
			function functionCall(categories) {
				window.categories = categories;
			}
		</script>
		<script type='text/javascript' src='/javascripts/parseURL.js'></script>
	</head>
	<body>
		<div>Loading...</div>
		<script type="text/javascript" src="http://designopen.org/categories.js"></script>
	</body>
</html>
