<!DOCTYPE html>
<html>
	<head>
		<title>Design Open: Add Design Resource</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script type="text/javascript" src="/javascripts/form.js"></script>
		<script type="text/javascript">
			function functionCall(categories) {
				window.categories = categories;
			}
		</script>
		<script type ="text/javascript">
			var qs = (function(a) {
				console.log('taking in: ', a);
				if (a == ""){
					window.query = {};
					return;
				}
				else{
					var b = {};
					for (var i = 0; i < a.length; ++i){
						var p=a[i].split('=', 2);
						if (p.length == 1)
						b[p[0]] = "";
						else
						b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
					}
					window.query = b;
					return;
				}
			})(window.location.search.substr(1).split('&'));
		</script>
	</head>
	<body>
		<div>Loading...</div>
		<script type="text/javascript" src="http://designopen.org/categories.js"></script>
	</body>
</html>
