<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/javascripts/submit.js"></script>
</head>
<body>
	<h3>Resource Collector Form</h3>
	<!-- action="/api/resource" method="post" -->
	<form id="submitResource" onsubmit="return submitForm()">
		<div>Title: <input type="text" name="title" required></div>
		<div>URL: <input type="url" name="URL" required></div>
		<div>Twitter Handle: <input type="text" name="twitter" required></div>
		<div>Description:
			<textarea form='submitResource' name="description">
			</textarea>
		</div>
		<div> Category:
			<select name='category'>
				<% for(var i=0; i<categories.length; i++) {%>
					<option> <%= categories[i] %> </option>
				<% } %>
			</select>
		</div>
		<input type="submit">
	</form>
</body>
</html>
