body {
  font: 14px 'Source Sans Pro', sans-serif;
  margin: 0;
  text-align: center;
}
.container {
  text-align: left;
  margin: auto;
  padding: 15px;
}
.form-item {
  padding: 10px 0;
  font-size: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
label {
  width: 200px;
  display: block;
  text-align: right;
  box-sizing: border-box;
  padding: 2px 5px 0 0;
}
input,
textarea,
select {
  padding: 7px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}
@media (min-width: 700px) {
  .container {
    width: 600px;
    text-align: center;
  }
}
