body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  text-align: center;
}

.container {
	text-align: left;
	margin: auto;
	padding: 15px;
}

.form-item{
	padding: 10px 0;
	font-size: 1rem;
}

input, textarea, select {
	padding: 7px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin-top: 5px;
}

@media (min-width: 700px) {
	.container {
		width: 600px;
	  text-align: center;
	}
}